<div class="header">
  <span class="header-span">Create Your Doraemon ID</span>
</div>

<div style="text-align: center; margin-top: 10rem;">
    <form class="form-horizontal">
        <fieldset>
          <div class="header-reg">
              <span class="register-header">只需一个 Doraemon ID，您即可访问 Doraemon 所有内容。</span>
          </div>
        <div class="control-group" style="margin-top: 1.5rem;">
    
              <!-- Text input-->
              <div class="controls">
                <input type="text" placeholder="Your Email" class="input-xlarge input-login">
              </div>
        </div>
    
        <div class="control-group" style="margin-top: 1.5rem;">
    
              <!-- Text input-->
              <div class="controls">
                <input type="text" placeholder="Password" class="input-xlarge input-login">
              </div>
        </div>

        <div class="control-group" style="margin-top: 1.5rem;">
    
            <!-- Text input-->
            <div class="controls">
              <input type="text" placeholder="Password Confirm" class="input-xlarge input-login">
            </div>
        </div>
    
        <div class="control-group"  style="margin-top: 3rem;">
    
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success btn-login">Register</button>
              </div>
        </div>
    
        </fieldset>
      </form>
</div>