<div class="main-page">
    <div class="header row" style="margin-left: 0; margin-right: 0;">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <p class="header-title">Doraemon</p>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">
          <span class="title-header" routerLink="/account/">Your Acount</span>
          <span class="title-header" style="margin-left: 2rem;" routerLink="/chat">Chat</span>
          <span class="title-header" style="margin-left: 2rem;" routerLink="/task">Task</span>
      </div>
    </div>
  <router-outlet></router-outlet>

  <div class="bottom-grey">
    <span>Copyright © 2019 wildzong. 保留所有权利。</span>
    <br>
    <span>github: https://github.com/wildzong</span>
  </div>
</div>
