.chat-background{
    width: 100%;
    position: absolute;
    left: 0;
    height: 100vh;
    top: 0;
    z-index: -1;
}

.blur{
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px); 
}

.chat-page{
    width: 80%;
    height: 96%;
    position: relative;
    left: 10%;
    background: white;
    border-radius: 10px;
    top: 1%;
    display: flex;
}

.chat-page-all{
    width: 100vw;
    height: 87vh;
}

.side-nav{
    width: 30%;
    height: 100%;
    background: #2e3238;
    border-radius: 10px 0 0 10px;
}

.chat-panel{
    width: 70%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background:#FFFFFF;
}

.head-profile{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 5px;
}

.profile-photo-img{
    margin-top: 6%;
    margin-left: 10%;
}

.profile-photo{
    width: 100%;
}

.head-name{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif;
    margin-left: 1rem;
}

.head-profile-border{
    width: 80%;
    height: 0;
    border: 1px solid #6C6C6C;
    margin-top: 1rem;
    margin-left: 10%;
}

.input-search{
    width: 80%;
    height: 4.3rem;
    margin-left: 10%;
    margin-top: 1rem;
    background: #4f4f4f;
    border: 0;
    border-radius: 7px;
    padding-left: 5rem;
    color: #272727;
    font-size: 20px;
    font-weight: 600;

}

.icon-search{
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    z-index: 99;
    right: 78%;
    line-height: 4.3rem;
    top: -0.3rem;
}

.switch-icon-history{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.switch-icon-friends{
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.switch-border{
    margin-left: 5rem;
    margin-right: 5rem;
    border: 1px solid #6c6c6c;
    width: 0;
}

.switch-bar{
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
    border-bottom: 1px solid #6c6c6c;
    padding-bottom: 1rem;
    display: flex;
}

.all-icon{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.history-profile{
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    margin-left: 6%;
}

.history-chat-div{
    height: 7rem;
    line-height: 7rem;
    width: 80%;
    margin-left: 10%;
    border-bottom: 0.5px solid #6c6c6c;
    cursor: pointer;
}

.history-name{
    font-size: 17px;
    color: #ccc;
    font-weight: 400;
    margin-left: 1rem;
}

.history-time{
    font-size: 17px;
    color: #ccc;
    font-weight: 400;
    margin-left: 45%;
}

.chat{
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.chat-title{
    height: 8rem;
    width: 100%;
    text-align: center;
    line-height: 8rem;
}

.chat-border{
    width: 90%;
    height: 0;
    margin-left: 5%;
    border: 0.5px solid #BEBEBE;
}

.none-chat{
    height: 90%;
    width: 100%;
    text-align: center;
}

.none-span{
    color: #BEBEBE;
}

.chat-title-name{
    font-weight: 400;
    color: #7B7B7B;
    font-size: 20px;
    font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\5FAE软雅黑,Arial,sans-serif;
}

.chat-panel-words{
    width: 100%;
    height: 60%;
}

.chat-panel-input{
    width: 100%;
    height: calc(40% - 8rem);
}

.chat-panel-input-words{
    width: 100%;
    height: calc(100% - 5rem);
}

.chat-input-icon{
    width: 2rem;
    height: 2rem;
}

.chat-panel-input-button{
    width: 100%;
    height: 5rem;
}

.btn-send{
    font-size: 20px;
    margin-left: 84%;
}

.textarea{
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    padding-top: 1%;
    border: 0;
}

.textarea:focus{
    outline: 0;
}