.task-page-all{
    width: 100vw;
    height: 87vh;
}

.task-background{
    width: 100%;
    position: absolute;
    left: 0;
    height: 100vh;
    top: 0;
    z-index: -1;
}

.blur{
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px); 
}

.task-page{
    position: relative;
    width: 90%;
    height: 94%;
    border-radius: 9px;
    background: #fff;
    left: 5%;
    top: 3%;
}

.task-header{
    background: #F0F0F0;
    width: 100%;
    height: 5rem;
    margin-top: 0;
    margin-left: 0;
    border-radius: 9px 9px 0 0;
    display: flex;
    position: relative;
    top: -10px;
}

.button-search{
    position: relative;
    left: 13%;
    top: 9px;
    width: 80%;
}

.dropdown-menu{
    top: 113%;
    left: 7px;
    min-width: 130px;
}

.search-bar{
    width: 70%;
}

.dropdown{
    width: 10%;
}

.search-input{
    width: 99%;
    margin-left: 1%;
    line-height: 3rem;
    margin-top: 9px;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding-left: 1rem;
}

.search-button{
    width: 20%;
}

.btn-search{
    margin-top: 9px;
    margin-left: 1.5rem;
}

.btn-add{
    margin-top: 9px;
    margin-left: 2rem;
}

.icon-search{
    width: 1.5rem;
    height: 1.5rem;
}

.task-board{
    height: calc(100% - 5rem);
    width: 100%;
    display: flex;
    margin-top: -9px;
    border-radius: 0 0 9px 9px;
}

.task-side-bar{
    width: 25%;
    height: 100%;
}

.bar{
    width: 96%;
    height: 96%;
    margin-left: 2%;
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bar-header{
    width: 100%;
    height: 10%;
    background:#FCFCFC;
    border-bottom: 1px solid #ccc;
    display: flex;
    font-size: 20px;
    color: #8a8a8a;
}

.bar-content{
    width: 100%;
    height: 90%;
    background:#FCFCFC;
    overflow-y: scroll;
}

.icon{
    width: 20px;
    height: 20px;
}

.bar-header-span{
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    padding-left: 10%;
}

.bar-cards{
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    width: 12%;
    height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
}

.bar-cards-2{
    border: 2px solid #8a8a8a;
    border-radius: 5px;
    width: 12%;
    height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8%;
}

.bar-add{
    width: 18%;
    height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    cursor: pointer;
}

.card-p{
    width: 92%;
    height: 6rem;
    margin-left: 4%;
    border-radius: 9px;
    margin-top: .5rem;
    line-height: 6rem;
    font-size: 22px;
    font-weight: 500;
    padding-left: 2rem;
    display: flex;
}

.icon-arrow{
    width: 4rem;
    cursor: pointer;
}

.icon-x{
    width: 2.5rem;
}

.distance{
    margin-left: 24%;
}

.cursor{
    cursor: pointer;
}

.icon-right{
    display: flex;
    position: relative;
    left: 50%;
}

.icon-right2{
    display: flex;
    position: relative;
    left: 64%;
}