<div>
    <img src="../../assets/background3.jpg" class="task-background blur">
  </div>
  
<div class="task-page-all">
  <div class="task-page">
    <div class="task-header">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle button-search" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{dropdown}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a (click)="changeSearch('all')" id="all">All</a></li>
              <li><a (click)="changeSearch('todo')" id="todo">Todo</a></li>
              <li><a (click)="changeSearch('doing')" id="doing">Doing</a></li>
              <li><a (click)="changeSearch('closed')" id="closed">Closed</a></li>
              <li><a (click)="changeSearch('deleted')" id="deleted">Deleted</a></li>
            </ul>
        </div>

        <div class="search-bar">
          <input class="search-input" placeholder="Search or filter something...">
        </div>

        <div class="search-button">
          <button type="button" class="btn btn-default btn-search">
            <img class="icon-search" src="../../assets/search2.svg">
            Search
          </button>
          <button type="button" class="btn btn-success btn-add" (click)="openModel()" >
            <img class="icon-search" src="../../assets/add.svg">
            Add issue
          </button>
        </div>
    </div>

    <div class="task-board">
      <div class="task-side-bar">
        <div class="bar">
          <div class="bar-header">
            <span class="bar-header-span">Todo</span>

            <div style="width: 40%;"></div>

            <div class="bar-cards">
              <img class="icon" src="../../assets/cards.svg">
              <span>{{ todoLength }}</span>
            </div>

            <div class="bar-add">
              <img class="icon" src="../../assets/add8a8a8a.svg"  (click)="openModel()" >
            </div>
          </div>

          <div class="bar-content">
            <div class="bg-primary card-p" *ngFor="let todo of taskTodo" >
              <div class="card-wid">
                  <span>{{ todo.Name }}</span>
              </div>
              <div class="icon-right">
                <img class="icon-x distance cursor" src="../../assets/x.svg" (click)="TodoToDel(this.todo)" >
                <img class="icon-arrow cursor" src="../../assets/Arrow Right Circle.svg" (click)="TodoToDoing(this.todo)" >
              </div>
            </div>

          </div>
        </div>
      </div>
      
      <div class="task-side-bar">
        <div class="bar">
          <div class="bar-header">
              <span class="bar-header-span">Doing</span>

              <div style="width: 40%;"></div>
  
              <div class="bar-cards-2">
                <img class="icon" src="../../assets/cards.svg">
                <span>{{ doingLength }}</span>
              </div>
  
          </div>

          <div class="bar-content">
            <div class="bg-primary card-p" *ngFor="let doing of taskDoing" >
              <div class="card-wid">
                <span>{{ doing.Name }}</span>
              </div>
              <div class="icon-right">
                <img class="icon-x distance cursor" src="../../assets/x.svg" (click)="DoingToDel(this.doing)" >
                <img class="icon-arrow cursor" src="../../assets/Arrow Right Circle.svg" (click)="DoingToDone(this.doing)" >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="task-side-bar">
        <div class="bar">
          <div class="bar-header">
              <span class="bar-header-span">Closed</span>

              <div style="width: 40%;"></div>
  
              <div class="bar-cards-2">
                <img class="icon" src="../../assets/cards.svg">
                <span>{{ doneLength }}</span>
              </div>
  
          </div>

          <div class="bar-content">
            <div class="bg-primary card-p" *ngFor="let done of taskDone" >
              <div class="card-wid2">
                <span>{{ done.Name }}</span>
              </div>
              <div class="icon-right2">
                <img class="icon-x distance cursor" src="../../assets/x.svg" (click)="DoneToDel(this.done)" >
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="task-side-bar">
        <div class="bar">
          <div class="bar-header">
              <span class="bar-header-span">Deleted</span>

              <div style="width: 40%;"></div>
  
              <div class="bar-cards-2">
                <img class="icon" src="../../assets/cards.svg">
                <span>{{ deleteLength }}</span>
              </div>
  
          </div>

          <div class="bar-content">
            <div class="bg-primary card-p" *ngFor="let delete of taskDelete" >
              <div class="card-wid2">
                <span>{{ delete.Name }}</span>
              </div>
              <div class="icon-right2">
                <img class="icon-x distance cursor" src="../../assets/x.svg" (click)="DelToNone(this.delete)" >
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="back-model" *ngIf="addTask" >
</div>

<div class="model-all" *ngIf="addTask" >
  <h2 class="head-task">
    Add a Task
    <img class="head-task-icon" src="../../assets/X2.svg" (click)="closeModel()" >
  </h2>

  <div class="model-content">
    <div class="model-task-name">
      <div class="title-model">
        <span>Title</span>
      </div>
      <input class="title-input" [(ngModel)]="TaskAdd.Name">
    </div>

    <div class="model-task-des">
      <div class="title-model">
        <span>Description</span>
      </div>
      <textarea class="model-text" [(ngModel)]="TaskAdd.Content"></textarea>
    </div>

    <div class="button-group">
      <button class="btn btn-default btn-cancel" type="submit" (click)="closeModel()" >Cancel</button>
      <button type="button" class="btn btn-success btn-confirm" (click)="confirmTask()" >Confirm</button>
    </div>
  </div>

</div>