<div class="pwd-change-page">
  <div class="pwd-change">
    <form class="form-horizontal">
      <fieldset>
        <div id="legend" class="">
          <legend class="no-border">
            <h1 class="title-form">登录时遇到问题？</h1>
          </legend>
        </div>
  
      
        <div class="control-group" style="margin-top: 1.5rem;">
          <p class="login-p">输入您的 Apple ID 即可开始。</p>
        </div>
  
      <div class="control-group">
  
            <!-- Text input-->
            <div class="controls">
              <input type="text" placeholder="Your Email" class="input-xlarge input-login">
            </div>
      </div>
  
      <div class="control-group" style="margin-top: 1.5rem;">
        <p class="login-p">你的 Email 是你用来登录 Doraemon 系统的注册时候输入的电子邮件地址。</p>
      </div>
  
      <div class="control-group"  style="margin-top: 3rem;">
  
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success btn-login">继续</button>
            </div>
      </div>
  
      <div class="control-group link-after-button" id="registerEmail" style="margin-top: 1.5rem;">
        <span class="login-link" routerLink="/register">没有 Doraemon 账户？立即创建一个。</span>
      </div>
  
      </fieldset>
    </form>
  </div>
  
  <div class="border-vertical"></div>
  
  <div class="icon-right row">
    <div>
      <img src="../../assets/user.svg" style="width: 14rem; height: 14rem;">
    </div>
    <div class="pwd-words">
      <p>
          您可以在此处重设忘记的密码。出于安全考虑，我们将向您提几个问题，以验证该帐户属于您。
      </p>
    </div>
  </div>
</div>