.message-icon-sender{
    width: 5rem;
    height: 5rem;
    border-radius: 30px;
}

.message-send{
    width: 70%;
    margin-left: 30%;
    display: flex;
}

.message-text{
    width: calc(100% - 5rem);
    min-height: 5rem;
    display: block;
    float: right;
    text-align: right;
}

.message-span{
    background: #35b5ed;
    font-size: 2.5rem;
    border-radius: 5px;
    max-width: 100%;
    width: fit-content;
    padding: 1rem;
    height: 5rem;
    line-height: 5rem;
    margin-right: 1rem;
}
